.title {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  margin-bottom: 40px;
  line-height: 1;
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.wrapper {
  width: 100%;
  position: relative;
  z-index: 99;
}

.inner {
  text-align: center;
  margin-top: 40px;
}

.property_name {
  font-size: 1.5rem;
  margin: 0;
  margin-right: 2rem;
  font-weight: 500;
  line-height: 1;
  text-align: left;

  @media (min-width: 720px) {
    font-size: 2rem;
    margin-right: 3rem;
  }
}

.property_value {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #4DF2FF;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.property_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px auto;
  max-width: 400px;
}