.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-gap: 10px;
  margin-top: 40px;

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    grid-gap: 30px;
  }

  @media (min-width: 1200px) {
    width: 60%;
  }
}