.card {
  margin: 1rem;
  padding: 1.5rem;
  color: inherit;
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 15px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #1c1c1c;

  &:hover {
    // background-color: #ffffff;
    box-shadow: 5px 10px 15px #ffffff70;
    // color: #ffffff;
    border-width: 2px;
    transition: all 0.25 ease-in-out;
  }
}