.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
}

.main {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 720px) {
    padding: 5rem 0;
  }
}

.title span {
  color: #ffffff;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.3;
  font-size: 3rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.subtitle {
  font-size: 1.2rem;
  font-family: 'Roboto Mono', serif;
  font-weight: 400;
  margin: 15px 0;
}

.loader_wrapper {
  margin: 1.5rem 0;
}